@use 'tailwindcss';

.option {
  &:hover,
  &[data-hover] {
    background-color: color-mix(
      in srgb,
      var(--color-blue-500) 15%,
      transparent 0%
    );
  }
  &[data-selected] {
    color: white;
    background-color: var(--color-blue-500);
  }
}
